.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    a {
        color: $white;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.875rem;

    }

    &__social {
        margin-bottom: 1.875rem;

        a:not(:last-child) {
            display: inline-block;
            margin-right: 1rem;
        }

    }

    &__links {
        &.col1 {

        }

        &.col2 {
            margin-bottom: 1.875rem;

        }

    }

    &__cta {

        a.button {
            margin-bottom: 1.875rem;

        }
    }

    &__copyright {

    }

}